// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#article-search{
  width: 310px;
  margin-top: 50px;
  display: none;

  form{
    input[type="text"]{
      width: 310px;
      background-color: #f2f2f2;
      border-radius: 20px;
      padding: 10px 15px;
    }

    input[type="submit"]{
      display: block;
      width: 50px;
      margin: 10px auto;
      font-size: 14px;
    }
  }

  #res-articles{
    margin-top: 50px;
  }
}

.article{
  width: 660px;
  margin-bottom: 50px;

  img{
    width: 650px;
    height: 340px;
    object-fit: cover;
  }

  .thumbnail{
    margin-top: 90px;
  }

  .article-title{
    width: 660px;
    margin: 30px auto 80px auto;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
  }
}


#idx-wrapper{
  width: 310px;

  #idx{
    position: fixed;
    width: 310px;
    top: 180px;

    span{
      position: absolute;
      right: 0;
    }

    ul{
      padding: 0;

      li{
        border-bottom: 1px solid #E5E5E5;
        padding: 5px 0;
      }
    }
  }
}

.articles{
  width: 660px;
  margin-top: 50px;

  label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;
    padding-right: 5px;
    position: relative;
    margin-left: 0;
    width: auto;
  }

  label::before {
    background: #fff;
    border: 1px solid #231815;
    content: '';
    display: block;
    height: 16px;
    left: -1px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
  }

  label::after {
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    content: '';
    display: block;
    height: 9px;
    left: 4px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
  }

  input[type=checkbox]:checked + label::after {
    opacity: 1;
  }

  input[type="submit"]{
    padding: 3px 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }

  h2{
    font-size: 30px;
    margin-bottom: 50px;
  }
}

#res-articles{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.res-article{
  margin: 25px 0;

  p{
    font-weight: 700;
  }

  span{
    font-size: 10px;
    background-color: #f2f2f2;
    padding: 4px 7px;
    border-radius: 5px;
  }

  img{
    width: 308px;
    height: auto;
    object-fit: cover;
  }
}


.search-content{
  width: 310px;

  #close-search{
    display: none;
  }

  .mobile-search-logo{
    display: none;
  }

  #article-search{
    display: block;
  }

  .features-thumbnail{
    margin-top: 60px;

    h3{
      font-size: 12px;
      font-weight: bold;
    }

    .feature-thumbnail{
      margin-top: 10px;

      img{
        width: 308px;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width:768px){
  .search-content{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 0;
    min-height: 100%;
    text-align: center;

    #close-search{
      display: block;
      position: absolute;
      top: 24px;
      right: 10px;
      font-size: 24px;
    }

    .mobile-search-logo{
      display: inline-block;
      width: 90px;
      height: auto;
      margin-top: 20px;
    }

    #article-search{
      width: calc(100vw - 64px);
      margin: auto;

      form{
        text-align: center;
        width: calc(100vw - 64px);
        margin-top: 50px;

        input{
          width: 100%;
        }
      }
    }

    .features-thumbnail{
      width: calc(100vw - 64px);
      margin: auto;

      .feature-thumbnail{
        width: 100%;

        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .articles{
    width: calc(100vw - 64px);
    margin: 50px auto;

    h2{
      margin-bottom: 15px;
      font-size: 24px;
    }

    #res-articles{
      .res-article{
        width: calc(100vw - 64px);
        margin: 25px auto;

        a{
          display: block;
          width: 100%;

          img{
            width: calc(100vw - 64px);
            height: auto;
          }
        }
      }
    }
  }

  .article{
    width: calc(100vw - 64px);
    margin: 45px auto;

    img{
      display: block;
      width: calc(100vw - 64px);
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }

    .thumbnail{
      margin-top: 45px;
    }

    .article-title{
      width: calc(100vw - 64px);
      font-size: 24px;
      line-height: 36px;
      margin: 25px auto;
    }
  }

  #idx-wrapper{
    display: none;
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    width: calc(100vw - 260px);
    background-color: rgba(198, 198, 198, 0.5);

    #idx{
      margin-left: calc(100vw - 260px);
      width: 260px;
      background-color: #fff;
      min-height: 100%;
      top: 0;
      padding: 100px 0 0 20px;

      span{
        top: 25px;
        right: 30px;
        font-size: 20px;
      }

      ul{
        li{
          padding: 5px 10px;
        }
      }
    }
  }
}
