#plus-btn{
  position: fixed;
  right: 100px;
  bottom: 45px;
}


#owner-menu{
  display: none;
  position: fixed;
  right: 120px;
  bottom: 45px;

  #new-article-link{
    position: fixed;
    right: 120px;
    bottom: 165px;
  }

  #new-article-link-span{
    position: fixed;
    right: 35px;
    bottom: 175px;
    font-size: 10px;
  }

  #draft-link{
    position: fixed;
    right: 120px;
    bottom: 115px;
  }

  #draft-link-span{
    position: fixed;
    right: 35px;
    bottom: 125px;
    font-size: 10px;
  }
}
