<% if current_page?(root_path) || current_page?(articles_path) %>
  <div class="top-features">
    <%= image_tag "left", class: "left" %>
    <%= image_tag "center", class: "center" %>
    <%= image_tag "right", class: "right" %>
  </div>
<% end %>
