<% if current_page?(root_path) || current_page?(articles_path) %>
  <div class="top-features">
    <%= image_tag "hokkaido", class: "first-features" %>
    <%= image_tag "hiroshima" %>
    <%= image_tag "fukuoka" %>
  </div>
<% end %>
