<% content_for(:title) { @feature.title } %>

<div class="feature-show">
  <h1><%= @feature.title %></h1>

  <%= simple_format(@feature.details, class: "feature-details") %>

  <div class="feature-articles">
    <%= render "articles/shared/search_results", articles: @feature.articles %>
  </div>
</div>
